@page
@model VocabularyTrainer.Pages.Words.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Word[0].ArticleId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Word[0].Singular)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Word[0].Plural)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Word)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.ArticleId)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Singular)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Plural)
                </td>
                <td>
                    <a asp-page="./Edit" asp-route-id="@item.WordId">Edit</a> |
                    <a asp-page="./Details" asp-route-id="@item.WordId">Details</a> |
                    <a asp-page="./Delete" asp-route-id="@item.WordId">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
