@page
@model VocabularyTrainer.Pages.Genders.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Gender</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Gender.GenderName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Gender.GenderName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Gender.GenderColor)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Gender.GenderColor)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.Gender.GenderId">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
