@page
@model VocabularyTrainer.Pages.Genders.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Gender[0].GenderName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Gender[0].GenderColor)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Gender)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.GenderName)
                </td>
                <td>
                    <div class="circle flex-column" style="background-color:@item.GenderColor"></div>
                    @Html.DisplayFor(modelItem => item.GenderColor)
                </td>
                <td>
                    <a asp-page="./Edit" asp-route-id="@item.GenderId">Edit</a> |
                    <a asp-page="./Details" asp-route-id="@item.GenderId">Details</a> |
                    <a asp-page="./Delete" asp-route-id="@item.GenderId">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
