@page
@model VocabularyTrainer.Pages.Articles.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Article</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Article.DefiniteArticle)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Article.DefiniteArticle)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Article.IndefiniteArticle)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Article.IndefiniteArticle)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Article.Language)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Article.Language.LanguageId)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Article.Gender)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Article.Gender.GenderId)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.Article.ArticleId">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
